@font-face {
  font-family: "Mirabella";
  // src: url("../fonts/GothaProBold.woff") format("woff");
  src: url("../fonts/Mirabelle.ttf") format("truetype");
  // font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  // src: url("../fonts/GothaProBold.woff") format("woff");
  src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  // font-weight: 700;
  font-style: normal;
}